################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
images/github-runner/.env
images/privoxy/privoxy.conf.save
